* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #0C0C0C;
    color: #000;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    background-color: #0C0C0C;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.menu-hamburger:hover{
    transition: 0.3s;
    background-color: #343333;
    border-radius: 50px;
}

.menu-hamburger img{
    width: 25px;
    height: 25px;
}

.logo img {
    margin-left: -60px;
    width: 150px;
}

.icones-cabecalho .icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    cursor: pointer;
}

.icones-cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones-cabecalho .icone:hover{
    transition: 0.3s;
    background-color: #343333;
    border-radius: 50px;
}

.icone img{
    width: 25px;
    height: 25px;
}

.barra-pesquisa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.441);
    width: 60%;
    height: 40px;
}

.barra-pesquisa input{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #0C0C0C;
    color: white;
}

.img-search{
    background-color: #343333;
    z-index: 1000;
    width: 10%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: gray;
    cursor: pointer;
}

.barra-pesquisa img{
    margin-left: 20px;
    margin-top: 5px;
    width: 30px;
    height: 30px;

}
.conteudo-principal {
    margin-left: 50px;
    display: flex;
    padding: 20px;
    gap: 24px;
}

.area-video {
    flex: 2;
}

.video-player iframe {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

.titulo-video {
    color: white;
    font-size: 20px;
    margin-top: 12px;
}

.informacoes-video {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8px;
}

#logo-canal{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-right: 10px;
    cursor: pointer;
}

#nome-do-canal{
    cursor: pointer;
    width: 250px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.dados-canal a{
    text-decoration: none;
}

.informacoes-video a{
    text-decoration: none;
}

#inscrever{
    cursor: pointer;
    font-weight: 500;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
}

#inscrever:hover{
    transition: 0.3s;
    background-color: rgb(216, 215, 215);
}

.dados-canal p{
 color: rgba(255, 255, 255, 0.466);
 font-size: 13px;
}

.acoes-video {
    display: flex;
    gap: 12px;
}

.botao-acao {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

#dislike-button{
    padding-right: 10px;
}

#dislike-button:hover{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.botao-acao:hover{
    transition: 0.3s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #6b6b6b;
}

.like-dislike-button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #363636;
    border-radius: 20px;
    width: 120px;
    height: 50px;
}

#more-horizontal-button{
    padding-right: 9px;
    width: 50px;
    height: 50px;
    background-color: #363636;
}

#more-horizontal-button:hover{
    transition: 0.3s;
    background-color: #6b6b6b;
    border-radius: 20px;
}

#more-horizontal-button img{
    width: 28px;
    height: 28px;
}

#share-button{
    padding-right: 5px;
    height: 50px;
    width: 120px;
    background-color: #363636;
}

#share-button:hover{
    transition: 0.3s;
    background-color: #6b6b6b;
    border-radius: 20px;
}

#share-button p{
    font-weight: 500;
    margin-left: 10px;
    font-size: 12px;
    color: white;
}

#vizu{
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    border-right: 1px solid rgba(255, 251, 251, 0.441);
    padding-right: 10px;
    color: white;
}

.botao-acao img{
    width: 20px;
    height: 20px;
}

.descricao-video {
    margin-top: 12px;
    background-color: #363636;
    padding: 10px;
    border-radius: 10px;
}

.dados-video{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.descricao-video p{
    color: white;
}


.videos-sugeridos {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.video-sugerido {
    display: flex;
    gap: 12px;
    background-color: #0C0C0C;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.miniatura-video {
    width: 140px;
    height: 90px;
    background-color: #dc6b6b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 24px;
}

.miniatura-video img{
    width: 140px;
    height: 90px;
}

.titulo-sugerido {
    color: white;
    font-weight: bold;
}

.nome-canal, .visualizacoes {
    font-weight: 500;
    font-size: 13px;
    color: #a3a3a3;
}
